<!DOCTYPE html>

<html>
@* ReSharper disable once MissingTitleTag *@
<head>

    <meta charset="UTF-8">
    <meta name="description" content="سفارش اینترنتی غذا">
    <meta name="keywords" content="غذا,نهار,وعده غذایی,شیرینی,نهار,قهوه,شام,صبحانه,رستوران,کافه">
    <meta name="author" content="MohammadMahdi Hamzeh">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @if (ViewData["Title"] == null || string.IsNullOrWhiteSpace(ViewData["Title"].ToString()))
    {
        <title>
            فودتوپیا یه سرزمین پر از غذا
        </title>
    }
    else
    {
        <title>
            فودتوپیا -
            @ViewData["Title"].ToString()
        </title>
    }

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Miss+Fajardose&display=swap" rel="stylesheet">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </environment>

    <link rel="stylesheet" href="~/lib/iconic/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/animate/animate.css">

    <link rel="stylesheet" href="~/lib/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="~/lib/owl/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/lib/magnific/magnific-popup.css">

    <link rel="stylesheet" href="~/lib/aos/aos.css">

    <link rel="stylesheet" href="~/lib/ionicons/ionicons.min.css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/lib/jquery/dist/jquery.timepicker.css">

    <link rel="stylesheet" href="~/lib/flaticon/flaticon.css" />
    <link rel="stylesheet" href="~/lib/icomoon/icomoon.css" />
    <link rel="stylesheet" href="~/css/template.css" />

    @*<link rel="stylesheet" href="~/css/site.css" />*@

    @RenderSection("Style", false)

</head>
<body>
    <partial name="_Topbar" />

    <partial name="_Navbar" />

    @RenderBody()

    <partial name="_Footer" />

    <partial name="_Loader" />

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </environment>



    <script src="~/lib/jquery/dist/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/lib/popper/popper.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.easing.1.3.js"></script>
    <script src="~/lib/jquery/dist/jquery.waypoints.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.stellar.min.js"></script>
    <script src="~/lib/owl/owl.carousel.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.magnific-popup.min.js"></script>
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/jquery/dist/jquery.animateNumber.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/jquery/dist/jquery.timepicker.min.js"></script>
    <script src="~/lib/scrollax/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/lib/google-map/google-map.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/js/site.js"></script>


    @RenderSection("Plugin", false)
    @RenderSection("Script", false)
</body>
</html>