@model IEnumerable<DataAccess.Model.Restaurant>

@{
    ViewData["Title"] = "خوشمزه پزی ها";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvaterImageAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BannerImageAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondryPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobilePhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedByUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedByUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvaterImageAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BannerImageAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondryPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobilePhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantType.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedByUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedByUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Id)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
